<% if user_signed_in? %>
  <table class="table table-striped table-bordered table-hover"> 
    <thead class= "btn-info">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
        <tr>
          <td>
            <%= link_to "#{friend.first_name} #{friend.last_name}", friend %>
          </td> 
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>  
          <td><%= friend.twitter %></td>

          <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Friend', new_friend_path, class:"btn btn-primary" %>

<% else %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Friends App</h1>
  </div>
</div>
<% end %>